host: <%= ENV['TELEGRAMHOST'] %>
adapter: 'postgresql'
database: <%= ENV['TELEGRAMDATABASE'] %>
username: <%= ENV['TELEGRAMUSERNAME'] %>
password: <%= ENV['TELEGRAMPASSWORD'] %>
encoding: 'utf8'
pool: 5